
{% extends "layout.html" %}

{% set pageId = "page-home" %}


    {% block styles %}
        <link rel="stylesheet" href="/style/home.css">
        <link rel="stylesheet" href="/style/modal.css">
    {% endblock styles %}


{# Criando um bloco para content #}
{% block content %} 
        <div class="content">
            <header>
                <img src="/assets/icones/logo.svg" alt="logomarca">
                <a href="/create-point">
                    <span></span>
                    Cadastre um ponto de coleta
                </a>
            </header>

            <main>
                <h1>Seu marketplace de coleta de residuos</h1>
            
                <p>Ajudamos pessoas a encontrarem pontos de coletas de forma eficiente.</p>
            
                <a href="#"><span></span><strong>Pesquisar pontos de coletas</strong> </a>

            </main>
                
                
        </div>
{% endblock content %}


{# Criando um bloco para modal #}
{% block modal %}
    {% include "partials/modal.html" %}
{% endblock modal %}


{# Criando um bloco para scripts #}
{% block scripts %}
    <script src="/scripts/index.js"></script>
{% endblock scripts %}    
